.promo__header.header 
  .header__inner 
    ul.header__tabs.tabs 
      li.tabs__item.tabs__item 
        button.tabs__button.tabs__button--active Поездки

    .header__user.user 
      a.user__private(href="#") 
        span.user__label Заболоцкий К.О
      a.user__logout(href="#" aria-label="Выход")
        +svg('logout')

        