li.content__item
  a.content__link.row(href="#")
    +cell("№ поездки", "000115", "number")
    +cell("Дата поездки", "22.02.2024 - 27.02.2024", "date")
    +cell("Сумма, план", "29 400,00", "plan")
    +cell("Сумма, факт", "29 400,00", "fact")
    +cell("Город", "Москва, Ярославль, Ижевск, Владимир", "city")
    +cell("Статус", "Документы", "status")

